.design {
	ol {
		background: linear-gradient(
			-45deg,
			rgba(13, 13, 235, 0.294),
			rgba(248, 0, 41, 0.383)
		);
		border: 2px black;
		border-style: none solid;
		display: flex;
		flex-direction: column;
		list-style: none;
		h3 {
			font-size: 1.5rem;
		}
		li {
			&:nth-child(2) {
				border: 1px black;
				border-style: solid none;
			}
			padding: 20px;
			min-height: 20vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			p {
				color: rgba(0, 0, 0, 0.568);
				font-size: 1.2rem;
			}
			position: relative;
			overflow: hidden;
			transition: 0.2s;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 130%;
				opacity: 0;
				height: 100%;
				background: #ffffff54;
				background-image: linear-gradient(
					to left,
					#f43b4769 0%,
					#443a948a 100%
				);
				box-shadow: var(--ssh);
				z-index: -1;
				transform-origin: 0 0;
				//transform: translateX(-100%) skewX(-45deg);
				transition: opacity 0.4s;
			}
			&:hover {
				color: white;
				&::before {
					//transform: translateX(0) skewX(-45deg);
					opacity: 1;
				}
			}
		}
	}
}
