.gallery {
    >header {
        border-top: var(--line);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 2rem;        
        border-bottom: var(--line);
        box-shadow: var(--ssh);
    }
    .images {
        display: flex;
        >* {
            flex: 1 1 25%;
        }
    }
}