.main-h {
    >header {
        display: flex;
        >* {
            box-shadow: var(--bor);
            flex:1 1 33%;
            padding: 5%;
            text-align: center;
        }
        >main {
            flex-basis: 75%;
        }
    }
}