.main-h {
    >header {
        display: flex;
        border-bottom: var(--line);
        >* {            
            flex:1 1 0%;
            padding: 5% 0;
            text-align: center;
            
        }
        >main {
            flex-basis: 100%;
            max-width: 1800px;      
            border-left: var(--line);      
            border-right: var(--line);      
        } 
        h1 {
            font-size: 3rem;
        }
    }
}