@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(css/reset.css);
@import url(css/min/header.min.css);
@import url(css/min/nav.min.css);
@import url(css/min/about.min.css);
@import url(css/min/gallery.min.css);
@import url(css/min/pricetable.min.css);
@import url(css/min/contact.min.css);
@import url(css/min/footer.min.css);
@import url(css/min/design.min.css);
@import url(css/min/rules.min.css);

:root {
    --bor: black 0 0 0 2px;
    --ssh: 0px 1px 0px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 48px rgba(17,17,26,0.1);
    --line: black solid 2px;
}

body {
    background: url("../img/noise.png"),#f14fce36;
}

.col2 {
    display: flex;
    margin: auto;    
}

.col2 > * {
    flex-basis: 50%;
}