.main-nav {
    box-shadow: var(--bor),var(--ssh);
    display: flex;
    padding: 5px;
    gap: 5px;
    justify-content: right;
    background-color: white;
    position: sticky;
    top: 0;
    >a {
        flex: 0 1 8%;
        text-align: center;
        padding: 15px;
        box-shadow: var(--bor) inset;
        color: black;
        font-weight: bold;
        text-decoration: none;
        transition: .1s;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}