.rules {
	ul {
		list-style: none;
		max-width: 1500px;
		display: flex;
		margin: auto;
		border: 2px black;
		border-style: none solid;
		justify-content: space-evenly;
		li {
			i {
				color: orangered;
				font-size: 1.5rem;
			}
			//margin: 10px;
			flex-wrap: wrap;
			gap: 10px;
			font-size: 1.1rem;
			font-weight: bold;
			padding: 20px;
			text-align: center;
			flex: 1 1 33.33%;
			display: flex;
			align-items: center;
			justify-content: center;
			&:nth-child(2) {
				border: 2px black;
				border-style: none dotted;
			}
			> * {
				display: block;
			}
		}
	}
}
