.gallery > header {
  border-top: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-size: 2rem;
  border-bottom: var(--line);
  -webkit-box-shadow: var(--ssh);
          box-shadow: var(--ssh);
}

.gallery .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .images > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
