.main-nav {
  -webkit-box-shadow: var(--ssh);
          box-shadow: var(--ssh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../img/noise.png"), -webkit-gradient(linear, left top, right top, from(white), to(white));
  background-image: url("../img/noise.png"), linear-gradient(to right, white, white);
  border-bottom: var(--line);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px 20px;
  z-index: 6;
}

.main-nav .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav a {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 8%;
          flex: 0 1 8%;
  text-align: center;
  padding: 15px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.main-nav a:hover {
  -webkit-box-shadow: var(--bor) inset;
          box-shadow: var(--bor) inset;
}

@media (max-width: 500px) {
  .main-nav .links {
    display: none;
  }
  .main-nav .fa-bacon {
    display: none;
  }
  .main-nav .mobile-hamburger {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding: 0 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-nav .mobile-nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: 100%;
    left: 0;
    top: 100%;
    visibility: hidden;
    border: black solid 2px;
    border-style: none none solid;
    opacity: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: 0 17px 15px rgba(0, 0, 0, 0.274);
            box-shadow: 0 17px 15px rgba(0, 0, 0, 0.274);
  }
  .main-nav .list-toggle {
    visibility: visible;
    opacity: 1;
  }
  .main-nav .fa-hamburger {
    -webkit-animation: 5s hamburger infinite;
            animation: 5s hamburger infinite;
    color: black;
  }
}

@-webkit-keyframes hamburger {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hamburger {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 500px) {
  .main-nav .mobile-nav {
    display: none;
  }
  .main-nav .mobile-hamburger {
    display: none;
  }
}

.eaten {
  -webkit-transform: rotate(360deg) scale(0.9);
          transform: rotate(360deg) scale(0.9);
}

.eaten .fa-hamburger {
  display: none;
}

.eaten .fa-bacon {
  display: unset;
  color: red;
}
